<div class="jumbotron text-center">
    <h1>Welcome To MyRecipe App</h1>
    <h3>This is the home page where you can sign up for the App recipe</h3>
    <%= link_to "Sign Up Now","#", class: "btn btn-lg btn-success" %>
</div>

<div class="row">
    <div class="col-lg-4">
        <h3>View Myrecipe App</h3>
        <h2>Browse recipes as a guest user and Sign Up later</h2>
        <p><%=link_to "Browse recipes listing","#", class: "btn btn-small btn-warning" %></p>
    </div>
    <div class="col-lg-4">
        <h3>View Myrecipe App</h3>
        <h2>Browse recipes as a guest user and Sign Up later</h2>
        <p><%=link_to "Browse recipes listing","#", class: "btn btn-small btn-warning" %></p>
    </div>
    <div class="col-lg-4">
        <h3>View Myrecipe App</h3>
        <h2>Browse recipes as a guest user and Sign Up later</h2>
        <p><%=link_to "Browse recipes listing","#", class: "btn btn-small btn-warning" %></p>
    </div>
</div>
